@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;500;600;700&family=Montserrat:wght@100;400;500;600;700&display=swap');

* {
    font-family: "Lato", sans-serif; 
}

html, body {
    min-height: 100%;
}

h1, h3, h4, h5, h6, h1 *, h2 *, h3 *, h4 *, h5 *, h6 * {
    font-family: "Montserrat", sans-serif;
    color: #212121ff;
}

h2{
    font-family: "Montserrat", sans-serif;
    color: #212121;
    text-align: center;
    font-weight: 500;
}
b{
    background-color: #1e1e1e;
    color: white;
}
nav {
    background-color: #21212100;
    transition: background 250ms;
    padding: 8px;
    font-size: 20px;
    max-width: 100%;
}

.nav-fixed {
    background: linear-gradient(#222222, #252525 50%, #282a2b 50%, #323232);
    box-shadow: inset 0 1px 5px black, 0 1px #fff3;
    color: #ffffff;
}

nav img {
    max-width: 40px;
    margin-right: 10px;
}

nav > div {
    font-weight: 300;
    color: #212121;
}

nav a, nav i {
    color: #212121;
    transition: color 250ms;
}

.nav-fixed a, .nav-fixed i {
    color: #ffffff;
}

nav a:hover {
    text-decoration: none;
}

/* Colored Header in main page info. */
.header {
    padding-bottom: 200px;
    padding-top: 200px;
    background-color: #000;
    background-image: linear-gradient(45deg, #00d2ff7F 0%, #3a7bd57F 100%);
}

.header .container {
    max-width: 1200px;
}
hr{
    transform: translateY(100);
}
.header h1 {
    font-size: 80px;
    font-weight: 700;
    opacity: 0;
    transition: opacity 2s;
    color: #ffffff;
}
/* HeaderInfo ^ */
